<div class="aboutImgWrapper">
  <div class="spacer100"></div>
  <div class="container aboutContainer" [ngsReveal]="{ reset: true, duration: 1000, origin: 'left', distance: '300px'}">
    <div class="aboutContent">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a [ngClass]="{'active': isActive ==='iowa'}" class="nav-link" href="about/#iowa" (click)="changeBackground('iowa', $event)">Iowa
            Roots
          </a>
        </li>
        <li class="nav-item">
          <a [ngClass]="{'active': isActive ==='hawaii'}" class="nav-link" href="about/#hawaii" (click)="changeBackground('hawaii', $event)">Paradise
            Found
          </a>
        </li>
        <li class="nav-item">
          <a [ngClass]="{'active': isActive ==='thailand'}" class="nav-link" href="about/#thailand" (click)="changeBackground('thailand', $event)">Land
            of Smiles</a>
        </li>
        <li class="nav-item">
          <a [ngClass]="{'active': isActive ==='atlanta'}" class="nav-link" href="about/#atlanta" (click)="changeBackground('atlanta', $event)">
            City of Trees</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane fade show active" id="iowa" role="tabpanel" aria-labelledby="iowa-tab">
          <p><b>Phase 1: Iowa Roots | 1980-2001</b></p>
          <p>I was born and raised in Iowa. I completed a two-year degree in LAN Management at Kirkwood Community College.
            During this time, a trip starting in Cancun, Mexico and then sidetracking to Belize and Guatemala with a friend,
            changed my life forever. This experience sparked a larger desire to see the world. I went on more trips including
            a multi-country excursion from Mexico all the way to Panama and Peru. I also took a trip to Hawaii, which motivated
            me to move there and continue my education.</p>
        </div>
        <div class="tab-pane fade show" id="hawaii" role="tabpanel" aria-labelledby="hawaii-tab">
          <p><b>Phase 2: Paradise Found | 2002-2007 </b></p>
          <p>Before graduating and moving to Hawaii I began studying Japanese. I decided to pursue a degree in Asian Studies
            in a place like Oahu because of the large prevalence of Japanese culture. During the beginning of my studies
            I was awarded the Honda Scholarship to study in Osaka, Japan for a year. The time in Japan was by far the most
            rewarding thing in my life because I was able to fully immerse myself in Japanese language and culture. Japanese
            culture really clicked with me and I soaked up the zen nature of the society. Upon completing my study abroad,
            I returned to Hawaii to finish my degree. At that time, an old friend invited me to teach a technology course
            at a school that he worked at in Bangkok, Thailand.</p>
        </div>
        <div class="tab-pane fade show" id="thailand" role="tabpanel" aria-labelledby="thailand-tab">
          <p><b>Phase 3: Land of Smiles | 2008-2013 & 2014, 2016</b></p>
          <p>I moved to Thailand and all in all spent about 6 years teaching English to students ranging from kindergarten
            to middle school. Being involved in the educational system proved to be very rewarding for me. During this time
            I consistently tried to enrich myself with studying the Thai language and being immersed in the international
            melting pot known as Bangkok. I really enjoyed living in Thailand but I was far from family and I didn’t see
            a lot of opportunity to build a career. I decided to return to the U.S. and join my family who had migrated to
            Atlanta.
          </p>
        </div>
        <div class="tab-pane fade show" id="atlanta" role="tabpanel" aria-labelledby="atlanta-tab">
          <p><b>Current Phase: City of Trees | 2013, 2015 and Present </b></p>
          <p>I immediately fell in love with Atlanta’s lush green trees coupled with its creative energy and thriving technological
            scene. While I knew Atlanta was the perfect fit for me, I was still struggling to find the right career path.
            Drawing on my previous experience in LAN, I started to study for a Cisco Certification until I heard about the
            Iron Yard. I spent a little over a month prepping for this intensive course which proved to be the most challenging
            thing I have ever done. The course pushed me to my limit, and I came out stronger because it. During this time
            I have developed a love for JavaScript and its many related technologies. Being able to build and create things
            is a truly self-gratifying experience. Now that I have found my passion, I am dedicated to building a long and
            successful career in this city of trees I now call home.</p>
        </div>
      </div>
    </div>
  </div>


</div>
