.workImgWrapper {
  background: url(../../../assets/img/code.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1200px;
  background-color: #09090c;
}

.list-group a {
  padding: 40px 0;
  font-size: 1.3em;
}
