.navbar {
  background: #cafcfb;
  box-shadow: 0 3px 6px #666666;
}

.navbar-brand {
  font-size: 1.4em;
  padding-right: 8px;
}

a,
i {
  font-size: 1.2em;
}

.nav-link {
  margin-right: 8px;
}

i {
  margin-right: 5px;
}
