<div class="skillsImgWrapper">
  <div class="spacer50"></div>

  <div class="container" [ngsReveal]="{ reset: true, duration: 1000, origin: 'left', distance: '300px'}">
    <div class="spacer100"></div>
    <div class="skillsContent">
      <div class="row">
        <div class="col-12">
          <h2 class="skillsTitle">Skills</h2>
          <img src="../../../assets//img/work.png" alt="skills" class="skillsImg">
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <ul class="lgList">
            <li>HTML/SASS</li>
            <li>Bootstrap</li>
            <li>Responsive Design</li>
            <li>jQuery</li>
            <li>Lodash</li>
          </ul>
        </div>
        <div class="col-sm-4">
          <ul class="lgList">
            <li>React</li>
            <li>React Native</li>
            <li>Angular</li>
            <li>Node/Express</li>
            <li>Ionic</li>
          </ul>
        </div>
        <div class="col-sm-4">
          <ul class="lgList">
            <li>Firebase</li>
            <li>Mongo</li>
            <li>Gulp</li>
            <li>Webpack</li>
            <li>Git</li>
          </ul>
        </div>
      </div>

    </div>
  </div>


</div>