<div class="homeImgWrapper">
  <div class="spacer50"></div>
  <div class="container">
    <!-- xs  -->
    <div class="row d-xs-block d-sm-none" [ngsReveal]="{reset: true, duration: 1000, origin: 'top', distance: '300px'}">
      <div class="col-12">
        <img src="../../assets/img/jessePicSmall.jpg" class="profileImgSmall">
      </div>
    </div>

    <!-- sm and larger  -->

    <div class="row d-none d-sm-block" [ngsReveal]="{reset: true, duration: 1000, origin: 'top', distance: '300px'}">
      <div class="col-12">
        <img src="../../assets/img/jesseProfile.jpg" class="profileImg">
      </div>
    </div>

  </div>




</div>